heading {
    text-align: center; 
}

#gameboard {
    display: grid; 
    width: 450px; 
    margin: 0 auto; 
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    border: 2px solid black; 
}

.border-bottom {
    border-bottom: 2px solid black; 
}

.border-right {
    border-right: 2px solid black; 
}

button {
    background: transparent; 
    color: black; 
    border: none; 
}

button:hover {
    background: grey;
    cursor: pointer; 
}